FORMAT: 1A
HOST: https://apiintelbrasv4.docs.apiary.io

# Intelbras REST API V4

Welcome to **Intelbras** API. This API provides a way to interact with or configure
networking products such as wireless devices (routers/APs). We are working hard
to make it available to as many products as possible.

It is important to note that even if the device supports **API v4** specification,
does not mean that it will support all endpoints or all configuration options.
Each particular product might have it's own restrictions/features.

## Root URI/Endpoint
Throughout this document, we will refer to an **endpoint/resource/URI** using only
the last portion of it, leaving the **root prefix** out. The **root prefix** of
any endpoint will be: **{http/https}:[device_address]/api/v4** or
**{http/https}:[device_address]/cgi-bin/api/v4**. E.g. http://10.0.0.1/api/v4.

## Endpoint Groups
All REST resources are located within 4 main groups:
- **System**: System related configuration/information/actions such as users,
sessions, firmware upgrade...
- **Interfaces**: Interface (ethernet, wifi, pon...) related
configuration/information/actions.
- **Services**: Service (DHCP server, QoS, firewall, snmp...) related
configuration/information/actions.
- **Network**: Network related configuration/information/actions such as VLAN,
static routes, LAN, WAN...

## HTTP Verbs
This API uses the following HTTP verbs (methods):
- **GET**: Read/Retrieve resource's information.
- **POST**: Create a new resource.
- **PUT**: Update/Replace resource's information.
- **DELETE**: Delete/Remove a resource.

        Note: Objects, containing a field called "default", marked as true, cannot be deleted when a delete method is called.

## Payload
This API uses [JSON](http://www.json.org/) notation to manipulate data. Some
devices may support compression.

## Glossary
These are the terms/fields that are commonly used throughout this document:
- **resource/endpoint/URI**: Refers to the HTTP URL that accepts some operation
(GET/PUT/POST/DELETE).
- **id**: Primary/unique key to identify any particular resource.
- **auto_apply**: Special field indicating that the device should apply any pending
configuration automatically. The default behavior depends on the global **auto_apply**
field located at [**system/device**](#system_device).
<a name="air_time_fairness"></a>
- **atf/atf_***: **Air Time Fairness**. This is a WiFi feature to boost overall network
performance.
<a name="wifi_son"></a>
- **son**: **Self Organized Network**. This is a WiFi set of features, also known as
**MESH**.
- **dns4/dns6**: IPv4 DNS address/IPv6 DNS address
- **ip4/ip6/ip**: IPv4 address/IPv6 address/Both IPv4 and IPv6 address.
- **gw4/gw6/gw**: IPv4 gateway address/IPv6 gateway address/Both IPv4 and IPv6 gateway
address.
- **cidr4/cidr6/cidr**: IPv4/IPv6/Both IPv4 and IPv6 address using CIDR notation
(IP/prefix bits).
- **mask**: Network mask (used for IPv4 address).
- **ip_mode**: IP addressing mode (automatic,static....)
- **interface**: Network interface name (eth0,eth1...).
- **domain**: Domain address (www.intelbras.com.br)
- **host**: IP or domain address.
- **description**: Generic description of a resource.
- **port**: TCP/UDP service port.
- **protocol**: Network protocol number according to
[IANA](https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml).
- **mode**: Used to refer as operational mode or service mode.
- **index**: Special field used when we need sorting.
- **timestamp**: Unix time.
- **max_entries**: Maximum number of entries for any particular resource/URI.
- **fields**: Used in **GET** operations to filter the results, by selecting only
the fields that you are interested in (comma-separated values). E.g.
http://10.0.0.1/api/v4/system/device?fields=description,location. If the device
does not support such feature, it will return all fields.
- **offset/limit**: Used in **GET** operations for paging the results. E.g.
http://10.0.0.1/api/v4/system/device?offset=1&limit=50.
- **custom_fields**: Some devices may return optional fields that does not affect
the device configuration/operation. It will be used only for informational purpose.
The return format is: **{"key":"value"}**.
- **enabled**: Service/entry/configuration is enabled.
<a name="bitmap"></a>
- **bitmap**: Bitmap is the technique to use one numeric value that represents multiple
options. Each option maps to a **bit** which has a unique **weight**. The final
**bitmap_value** will be the sum of each option **weight**. As an example, consider
the following options (Wireless modes):
    - AP mode:       bit0 (weight = 1)
    - Client mode:   bit1 (weight = 2)
    - Repeater mode: bit2 (weight = 4)

So, if the device supports only **AP** mode, **bitmap_value** will be equals 1.
If **AP** and **Repeater** modes are available, **bitmap_value** will be equals
5, and so on.

## API versioning
<a name="api_version_endpoint"></a>
This API uses the version format: **MAJOR.MINOR.PATCH** notation, where:
- **MAJOR**: Main API endpoint structure. Changes on this number makes it incompatible
with other versions. For instance, this API has **MAJOR** version **4**, which is
incompatible with API version **3**.
- **MINOR**: Indicates that a new endpoint has been added.
- **PATCH**: Indicates that a new field/action has been added.

API version is accessible through **/api** (root endpoint) under the field
**api_version**. E.g.
**http://10.0.0.1/api** or **http://10.0.0.1/cgi-bin/api**

## Special Endpoints
There are some special resources that **may** be available to any other resource:
- **/endpoints**: List all endpoints available after the current one. E.g.
**system/endpoints**.
- **/active**: Returns the applied configuration. If the device has **auto_apply=false**
as default behavior, then this endpoint will show the config that is actually
applied and running. E.g. **system/device/active**.
- **/counters**: Interface counters such as tx_bytes, rx_bytes... E.g.
**interfaces/ethernets/counters**. Resulting values are calculated by the sum of all the ethernets values.
- **/stats**: Statistics data such as packets per second, throughput... E.g.
**interfaces/ethernets/stats**. Resulting values are calculated by the sum of all the ethernets values.
- **/brief**: Briefing/summary information regarding any endpoint and it's children
resources. E.g. **interfaces/wifi/brief**.
- **/actions**: Actions that the device may perform such as reboot, survey...
E.g. POST **system/actions**
<pre><code>
{
    "type": "reboot"
}
</code></pre>

If supported, you may use the option **async:true**, which means that you need
to keep calling your endpoint (GET method) in order to know the action status until
it returns the actual data. That is useful if the action to be perform will take
some time to complete, avoiding timeout issues.

Some actions might need an extra **data** object to send additional information
to the action to be executed.
- /app_traits: Special characteristics to be handled by API consumer. More details
below.

### APP traits
The idea behind the special endpoint **app_traits** is to be able to aid API consumer
(WEB or another automated system) prior rendering some options. As an example,
lets say that a particular device supports wifi scheduling and does not support
firewall scheduling. In order to avoid any error during the POST/PUT operations,
we first proceed with a **GET** into **services/firewall/app_traits**. The device
might return something like this:
<pre><code>
{
    "schedule": false
}
</code></pre>

That means: **schedule** field should not be used, since it is not supported.

When the whole feature is **not** supported, the **enabled** field might be used. For example, if a device does not support **Captive Portals**, the **GET** into **services/captive_portals** might return:
<pre><code>
{
    "enabled": false
}
</code></pre>

**app_traits** have its own version notation **MAJOR.MINOR**:
- **MAJOR**: There is some feature/option that must not be used since it might
cause a malfunction.
- **MINOR**: Indicates that a new option has been added.

The **app_traits** version is also accessible through **/api** (root endpoint)
under the field **app_traits_version**.


## Error/Warning Returns
When some error (HTTP response status code 400) or warning (HTTP response status
code 200) occurs, the resulting payload will follow this layout:
<pre><code>
{
    "errors":[
        {
            "code": 1,
            "message": "Password should have at least 12 char...",
            "fields":[
                "Password"
            ]
        }
    ],
    "warnings":[
        {
            "code": 1,
            "message": "Maximum size 64 reached, part of the string has been truncated.",
            "fields": [
                "description"
            ]
        }
    ]
}
</code></pre>
Where the **message** contains some additional information regarding the error
**code**, and **fields** is an array of the fields affected by the error **code**.

Code values:
- 0: Required field
- 1: Validation error
- 2: Invalid Payload
- 3: Field not used/not supported
- 4: This field cannot use duplicated elements
- 5: Max objects entries reached

Code priority:
Error code (400) and specific error code (40x) have priority over warning code (200) and specific error code (40x) has priority over error code (400).

### Warning when creating objects
If some value of the objects cannot be repeated and the user sent they repeated, the API will ignore repeated elements or objects.
Therefore, if just one object is created will need to return the id in the body, if more then one object is created just return warnings.
An example with just one object created:
<pre><code>
{
    "id": "lan2"
    "warning": [
        {
            "message": "Field has duplicated elements",
            "fields": [ipv4],
            "code": 4
        }
    ]
}
</code></pre>
### Server Error
When server error occurs should be returned the correct code and follow this layout:
<pre><code>
{
    "message": "Service is not currently available, try again later.",
    "code": "error"
}
</code></pre>

The code for the error above should be 503, Service Unavailable. Other HTTP code are supported and has to follow the format defined

## Authentication
In order to use any API resource, you must to be authenticated. The only exceptions
are the [**api version**](#api_version_endpoint) endpoint and **system/sessions**
(POST method).

Upon authentication, you will receive a **token** that must be used in every other
resources, by setting your HTTP header **Authorization** value equals to your
**token**.

The **token** is obtained by sending a **POST** to [**system/sessions**](#sessions_login):
<pre><code>
{
    "login": "admin",
    "password": "admin"
}
</code></pre>

Expected return:
<pre><code>
{
    "token": "e6223ae4a109705437fe69263dfb7ad3"
}
</code></pre>

## API [/api]
Take a look at [API versioning](#api_version_endpoint).

+ Attributes (object)
    + `api_version`: 1.3.0      (string)
    + `app_traits_version`: 2.0 (string)

### Get API version [GET]
+ Response 200 (application/json)
    + Attributes (API)

# Group System
Device related information/configuration/actions.

## brief [/system/brief]

### GET
Retrieve a summary from system group resources.

+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (object)
        + `sessions`: 2            (number) - Active sessions.
        + `users`: 1               (number) - Number of users available (registered).
        + `schedules`: 10          (number) - Number of configured schedules.
        + `uptime`: 90             (number, required) - System uptime (seconds).
        + `date`: `2019-05-17`     (string) - System local date.
        + `time`: 20:20:39+00:00   (string) - System local time.
        + `timestamp`: 1558112740  (number,required) - Unix timestamp.
        + `description`: My device (string) - Device description.
        + `alias`: My AP           (string)
        + `model`: AP 360          (string,required) - Device model.
        + `fw_version`: 2.3.0      (string,required) - Device firmware version.
        + `default_config`: true   (boolean) - Device is currently using default config (factory default).
        + `config_hash`: 4fa32...  (string)  - Currently applied configuration hash.
        + `apply_pending`: true    (boolean) - There are pending settings to be applied.
        + `user_default`: admin    (string)  - Device default username (login).
        + `password` (object)
            + `value`: admin (string)    - Device default password (login).
            + `changed`: false (boolean) - Device is currently using default password.

    + Schema

            {
                "$schema": "http://json-schema.org/draft-07/schema#",
                "type": "object",
                "properties": {
                    "sessions": {
                        "description": "Active sessions",
                        "type": "integer",
                        "minimum":1
                    },
                    "users": {
                        "description": "Number of users available (registered).",
                        "type": "integer",
                        "minimum":1
                    },
                    "schedules": {
                        "description": "Number of configured schedules.",
                        "type": "integer",
                        "minimum":0
                    },
                    "uptime": {
                        "description": "System uptime (seconds).",
                        "type": "integer",
                        "minimum":0
                    },
                    "date": {
                        "description": "System local date.",
                        "type": "date"
                    },
                    "time": {
                        "description": "System local time.",
                        "type": "string",
                        "pattern":"time"
                    },
                    "timestamp": {
                        "description": "Unix timestamp.",
                        "type": "integer",
                        "minimum":1641006000
                    },
                    "description": {
                        "description": "Device description.",
                        "type": "string",
                        "maxLength": 64
                    },
                    "alias": {
                        "description": "Device alias.",
                        "type": "string",
                        "maxLength": 32
                    },
                    "model": {
                        "description": "Device model.",
                        "type": "string",
                        "maxLength": 50
                    },
                    "fw_version": {
                        "description": "Device firmware version.",
                        "type": "string",
                        "pattern":"^([0-9]+)[.]([0-9]+)[.](\S+)$"
                    },
                    "default_config": {
                        "description": "Device is currently using default config (factory default).",
                        "type": "boolean"
                    },
                    "config_hash": {
                        "description": "Currently applied configuration hash.",
                        "type": "string",
                        "minLength": 8
                    },
                    "apply_pending": {
                        "description": "There are pending settings to be applied.",
                        "type": "boolean"
                    },
                    "user_default": {
                        "description": "Device default username (login).",
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 20
                    },
                    "password": {
                        "description": "Device default password info.",
                        "type": "object",
                        "properties": {
                            "value": {
                                "description": "Device default password (login).",
                                "type": "string",
                                "minLength": 4,
                                "maxLength": 63
                            },
                            "changed": {
                                "description": "Device is currently using default password.",
                                "type": "boolean"
                            }
                        },
                        "required": [
                            "value",
                            "changed"
                        ]
                    }
                },
                "required": [
                    "uptime",
                    "timestamp",
                    "model",
                    "fw_version"
                ]
            }
## system [/system]
+ Attributes (object)
    + `date`: `2019-05-17`    (string, required) - System local date.
    + `time`: 13:00:00+00:00  (string, required) - System local time.
    + `timestamp`: 1558112740 (number, required) - Unix timestamp.

### Retrieve system information [GET]
Retrieve basic system information.

+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (system)
    + Schema
            {
                "$schema": "http://json-schema.org/draft-07/schema#",
                "type": "object",
                "properties": {
                    "date": {
                        "type": "string",
                        "format": "date",
                        "pattern": "^([0-9]+)-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$"
                    },
                    "time": {
                        "type": "string",
                        "format": "time",
                        "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])(Z|[+-](?:2[0-3]|[01][0-9])(?::?(?:[0-5][0-9]))?)$"
                    },
                    "timestamp": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 2147483648
                    }
                },
                "required": [
                    "date",
                    "time",
                    "timestamp"
                ]
            }

## device [/system/device]
<a name="system_device"></a>
+ Attributes (object)
    + `description`: My device   (string)  - Device description.
    + `alias`: My AP             (string)
    + `radius_nas_id`: ap_office (string)  - Radius NAS ID. IF empty, device's mac address will be used.
    + `auto_apply`: false        (boolean) - If set to true, any POST/PUT/DELETE operation will be automatically applied.
    + `location` (object) - Decimal degrees notation.
        + `latitude`: 100.234 (number)
        + `longitude`: 30.222 (number)

### Retrieve device information [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (device)
    + Schema
            {
            "https://json-schema.org/draft/2019-09/schema",
            "type": "object",
            "properties": {
                "description": {
                "description" : "Device description.",
                "type": "string",
                "maxLength" : 64
                },
                "alias": {
                "description" : "Device alias.",
                "type": "string",
                "maxLength" : 32
                },
                "radius_nas_id": {
                "description": "Radius NAS ID. IF empty, device's mac address will be used.",
                "type": "string",
                "maxLength": 128
                },
                "auto_apply": {
                "type": "boolean"
                },
                "location": {
                "type": "object",
                "properties": {
                    "latitude": {
                    "type": "number",
                    "minimum" : -90,
                    "maximum" : 90
                    },
                    "longitude": {
                    "type": "number",
                    "minimum" : -180,
                    "maximum" : 180
                    }
                },
                "required": [
                    "latitude",
                    "longitude"
                ]
                }
            },
            "required": [
                "auto_apply",
                "alias"
            ]
            }

### Update device information [PUT]
+ Attributes (device)

+ Request (application/json)
    + Headers

            Authorization: Token e6223a...fb7ad3
    + Schema
            {
            "https://json-schema.org/draft/2019-09/schema",
            "type": "object",
            "properties": {
                "description": {
                "description" : "Device description.",
                "type": "string",
                "maxLength" : 64
                },
                "alias": {
                "description" : "Device alias.",
                "type": "string",
                "maxLength" : 32
                },
                "radius_nas_id": {
                "description": "Radius NAS ID. IF empty, device's mac address will be used.",
                "type": "string",
                "maxLength": 128
                },
                "auto_apply": {
                "type": "boolean"
                },
                "location": {
                "type": "object",
                "properties": {
                    "latitude": {
                    "type": "number",
                    "minimum" : -90,
                    "maximum" : 90
                    },
                    "longitude": {
                    "type": "number",
                    "minimum" : -180,
                    "maximum" : 180
                    }
                },
                "required": [
                    "latitude",
                    "longitude"
                ]
                }
            },
            "required": [
                "auto_apply",
                "alias"
            ]
            }

+ Response 204

## firmware [/system/firmware]

### Upgrade status [GET]
Firmware upgrade status.

+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (object)
        + `downloading`: true (boolean) - Downloading firmware file.
        + `percent`: 20       (number) - Downloading progress (percentage).
        + `status`: message   (string) - Additional status message.

### Upgrade (external link) [PUT]
Upgrade device's firmware using remote (HTTP/FTP) firmware file.
- Some devices may only accept HTTP method.

+ Request (application/json)
    + Attributes (object)
        + `uri`: http://192.168.1.100/firmware.bin (string) - Remote firmware file location.

    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

### Upgrade [POST]
Upgrade device's firmware using local file. Depending on the device, you might
upload a raw binary file at once. In this case, you must not send any extra
payload and your **Content-Type** header must be set to **application/octet-stream**.

For most devices, you should send base64 encoded chunks up to 400
Kbytes each.

+ Request (application/json)
    + Attributes (object)
        + `current`: 1             (number, required) - Current chunk.
        + `total`: 20              (number, required) - Number of chunks.
        + `content`: base64encoded (string, required) - Base64 encoded firmware file.

    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

## log [/system/log{?download}]
<a name="log_levels"></a>
**Log levels**:
- `0`: LOG_EMERG
- `1`: LOG_ALERT
- `2`: LOG_CRIT
- `3`: LOG_ERR
- `4`: LOG_WARNING
- `5`: LOG_NOTICE
- `6`: LOG_INFO
- `7`: LOG_DEBUG

### Read [GET]
+ Parameters
    + `download` (boolean, optional) - Download log file.
        + Default: false

+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3
+ Response 200 (application/json)
    + Attributes (object)
        + `source`: 1 (enum[number])
            + Members
                + `0` - Kernel
                + `1` - User Space
        + `level`: 6                                         (enum[number]) - [Log level](#log_levels)
        + `timestamp`: 1558021461157                         (number)
        + `message`: netifd: Interface 'loopback' is enabled (string)

+ Request download=true
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (object)
        + `content`: base64encoded (string) - Base64 encoded data.

## actions [/system/actions]
+ Attributes (object)
    + `type`: reboot (enum[string], required)
        + Members
            + `reboot`
            + `commit` - Save configuration into non volatile storage (flash memory).
            + `apply` - Apply saved configurations.
            + `revert` - Ignore configuration changes that were not committed.
            + `save_config_as_default` - Save current configuration as factory default configuration.
            + `search` - Perform a device search. E.g. LED will blink as a visual indication that you are operating on that device.
            + `set_date` - Change system date and time (YYYY-MM-DD HH:MM:SS).
            + `factory_default` - Return device settings to factory default.
            + `wps` - Start WPS function. E.g. It's used for EasyMesh APs synchronization.
    + `async`: false (boolean)
    + `data`:  (object)

### POST [POST]
+ Request apply (application/json)
    + Attributes (object)
        + `type`: apply (string)
        + `data` (object)
            + `rollback` (object)
                + `enabled`: true (boolean)
                + `timeout`: 1000 (number) - timeout (seconds).

    + Schema

            {
            "$schema": "http://json-schema.org/draft-04/schema#",
            "type": "object",
            "properties": {
                "type": {
                "type": "string",
                "minLength": 1
                },
                "data": {
                "type": "object",
                "properties": {
                    "rollback": {
                    "type": "object",
                    "properties": {
                        "enabled": {
                        "type": "boolean"
                        },
                        "timeout": {
                        "type": "integer"
                        }
                    },
                    "required": [
                        "enabled"
                    ]
                    }
                }
                }
            },
            "required": [
                "type"
            ]
            }

    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (object)
        + `config_hash`: 4fa32... (string, required) - Currently applied configuration hash.

    + Schema

            {
            "$schema": "http://json-schema.org/draft-07/schema#",
            "type": "object",
            "properties": {
                "config_hash": {
                "type": "string",
                "minLength": 8
                }
            },
            "required": [
                "config_hash"
            ]
            }

+ Request set_date (application/json)
    + Attributes (object)
        + `type`: set_date (string)
        + `data` (object, required)
            + `date`: `2018-11-13T20:20:39+00:00` (string, required)
    + Schema

            {
            "$schema": "http://json-schema.org/draft-04/schema#",
            "type": "object",
            "properties": {
                "type": {
                "type": "string",
                "minLength": 1
                },
                "data": {
                "type": "object",
                "properties": {
                    "date": {
                    "type": "date"
                    }
                },
                "required": [
                    "date"
                ]
                }
            },
            "required": [
                "type"
            ]
            }
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

+ Request wps (application/json)
    + Attributes (object)
        + `type`: wps (string)
        + `data` (object)
            + `sync` (boolean)

    + Schema

            {
            "$schema": "http://json-schema.org/draft-04/schema#",
            "type": "object",
            "properties": {
                "type": {
                "type": "string",
                "minLength": 1
                },
                "data": {
                "type": "object",
                "properties": {
                    "sync": {
                    "type": "boolean"
                    }
                },
                "required": [
                    "sync"
                ]
                }
            },
            "required": [
                "type"
            ]
            }

    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

+ Request (application/json)
    + Attributes (actions)

    + Schema

            {
            "$schema": "http://json-schema.org/draft-04/schema#",
            "type": "object",
            "properties": {
                "type": {
                "type": "string",
                "minLength": 1
                },
                "async": {
                "type": "boolean"
                }
            },
            "required": [
                "type"
            ]
            }

    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

# Group System Config

## config [/system/config]
+ Attributes (object)
    + `content`: base64encoded (string) - Base64 encoded data.

### Download configuration [GET]
Download device's configuration file using base64 encoded data.

+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (config)
    + Schema
            {
                "$schema": "http://json-schema.org/draft-07/schema#",
                "type": "object",
                "properties": {
                    "content": {
                        "type": "string",
                        "minLength": 512,
                        "maxLength": 262144
                    }
                },
                "required":["content"]
            }

### Upload configuration [POST]
Upload configuration file using base64 encoded data.

+ Request (application/json)
    + Attributes (object)
        + `current`: 1             (number, required) - Current chunk.
        + `total`: 1               (number, required) - Number of chunks.
        + `content`: base64encoded (string, required) - Base64 encoded configuration file.

    + Headers

            Authorization: Token e6223a...fb7ad3
    + Schema
            {
                "$schema": "http://json-schema.org/draft-07/schema#",
                "type": "object",
                "properties": {
                    "current": {
                        "type": "number",
                        "minimum": 1
                    },
                    "total": {
                        "type": "number",
                        "minimum": 1
                    },
                    "content": {
                        "type": "string",
                        "minLength": 512
                    }
                },
                "required": [
                    "current",
                    "total",
                    "content"
                ]
            }


+ Response 204

## active [/system/config/active]

### Retrieve [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (object)
        + `config_hash`: 4fa32... (string)  - Currently applied configuration hash.
        + `apply_pending`: true   (boolean) - There are pending settings to be applied.
        + `rollback_status` (object) - The rollback status of the system.
            + `enabled`: true (boolean)
            + `timeout`: 1000 (number) - timeout (seconds).
    + Schema
            {
                "$schema": "http://json-schema.org/draft-07/schema#",
                "type": "object",
                "properties": {
                    "config_hash": {
                        "type": "string",
                        "minLength": 8
                    },
                    "apply_pending": {
                        "type": "boolean"
                    },
                    "rollback_status": {
                        "type": "object",
                        "properties": {
                            "enabled": {
                                "type": "boolean"
                            },
                            "timeout": {
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 2147483647
                            }
                        }
                    }
                },
                "required": [
                    "config_hash"
                ]
            }


# Group System Sessions

## sessions [/system/sessions]

### Login [POST]
<a name="sessions_login"></a>
+ Request (application/json)
    + Attributes (object)
        + `login`: admin      (string, required)
        + `password`: admin   (string, required)
        + `idle_timeout`: 300 (number) - Idle timeout (seconds).

    + Schema

            {
                "$schema": "http://json-schema.org/draft-07/schema#",
                "type": "object",
                "properties": {
                    "login": {
                        "description": "Login value.",
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 20
                    },
                    "password": {
                        "description": "Password value.",
                        "type": "string",
                        "minLength": 4,
                        "maxLength": 63
                    },
                    "idle_timeout": {
                        "description": "Idle timeout(seconds).",
                        "type": "integer",
                        "minimum": 300,
                        "maximum": 86400
                    }
                },
                "required": [
                "login",
                "password",
                ]
            }

+ Response 201 (application/json)
    + Attributes (object)
        + `token`: e6223ae4a109705437fe69263dfb7ad3 (string, required)
    + Schema
        {
    "$schema": "http://json-schema.org/draft-07/schema#",
    "type": "object",
    "properties": {
        "token": {
            "description": "Response token.",
            "type": "string",
            "minLength": 8,
            "maxLength": 128
        }
    },
    "required": [
       "token"
    ]
}

## session [/system/sessions/{token}]
+ Parameters
    + `token` (string) - Session token.

### Logout [DELETE]
+ Request (application/json)
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

## active [/system/sessions/active]

### Retrieve [GET]
+ Request (application/json)
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + `user`: admin (string)
            + `token`: e6223ae4a109705437fe69263dfb7ad3 (string) - Session token.
            + `expires`: 263 (number) - Time to expire session (seconds).
            + `idle_timeout`: 300 (number) - Idle timeout (seconds).

    + Schema
            {
                "$schema": "http://json-schema.org/draft-07/schema#",
                "type": "array",
                "items": [{
                    "type": "object",
                    "properties": {
                        "user": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 20
                        },
                        "token": {
                            "type": "string",
                            "minLength": 8,
                            "maxLength": 128
                        },
                        "expires": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 86400
                        },
                        "idle_timeout": {
                            "type": "integer",
                            "minimum": 300,
                            "maximum": 86400
                        }
                    },
                    "required": [
                        "user",
                        "token",
                        "expires"
                    ]
                }]
            }

# Group System User Roles
<a name="user_roles"></a>
You can use user roles to control API access to each desired endpoint or globally
by HTTP method (**GET/PUT/POST/DELETE**).
- You cannot delete a role that is referenced by any user (**references** > 0).

Example of a role that grants **GET** operation to all endpoints:
<pre><code>
{
    "name": "guest",
    "get": true,
    "put": false,
    "post": false,
    "delete": false,
    "default": false,
    "uris": []
}
</code></pre>

Example of a role that grants **GET** operation only for **system/device**
endpoint:
<pre><code>
{
    "name": "guest",
    "get": false,
    "put": false,
    "post": false,
    "delete": false,
    "default": false,
    "uris": [
        {
            "endpoint": "system/device",
            "verbs": ["GET"]
        }
    ]
}
</code></pre>

Example of a role that grants **GET** operation to all **system** endpoints:
<pre><code>
{
    "name": "guest",
    "get": false,
    "put": false,
    "post": false,
    "delete": false,
    "default": false,
    "uris": [
        {
            "endpoint": "system",
            "verbs": ["GET"]
        }
    ]
}
</code></pre>

## roles [/system/roles]
+ Attributes (object)
    + `name`: guest    (string, required)
    + `get`: true      (boolean, required) - Whether GET is globally permitted.
    + `put`: true      (boolean, required) - Whether PUT is globally permitted.
    + `post`: true     (boolean, required) - Whether POST is globally permitted.
    + `delete`: true   (boolean, required) - Whether DELETE is globally permitted.
    + `uris` (array)
        + (object)
            + `endpoint`: system/device (string)
            + `verbs`: POST             (array[string])

### Retrieve all roles [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (array)
        + (roles)
            + `default`: false (boolean) - When true, indicates that this object cannot be deleted.
            + `id`: guest     (string)
            + `references`: 1 (number) - Number of references to this role.
    + Schema
        {
        "$schema": "http://json-schema.org/draft-07/schema#",
        "type": "array",
        "items": [
            {
            "type": "object",
            "properties": {
                "name": {
                "type": "string",
                "maxLength": 64,
                "minLength":4
                },
                "get": {
                "type": "boolean"
                },
                "put": {
                "type": "boolean"
                },
                "post": {
                "type": "boolean"
                },
                "delete": {
                "type": "boolean"
                },
                "uris": {
                "type": "array",
                "items": [
                    {
                    "type": "object",
                    "properties": {
                        "endpoint": {
                        "type": "string",
                        "maxLength": 128,
                        "minLength": 3
                        },
                        "verbs": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 4,
                        "items": [
                            {
                            "type": "string",
                            "enum": ["GET", "PUT", "POST", "DELETE"]
                            }
                        ]
                        }
                    },
                    "required": [
                        "endpoint",
                        "verbs"
                    ]
                    }
                ]
                },
                "default": {
                "type": "boolean"
                },
                "id": {
                "type": "string",
                "maxLength": 128,
                "minLength": 1
                },
                "references": {
                "type": "integer",
                "minimum": 0
                }
            },
            "required": [
                "name",
                "get",
                "put",
                "post",
                "delete"
            ]
            }
        ]
        }


### Create roles [POST]
When you pass an array with multiple objects, the response would be no content
(code 204). For just one object, the response will return the id created (code 201).

+ Request (application/json)
    + Attributes (array[roles])
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204
+ Response 201 (application/json)
    + Attributes (object)
        + `id`: guest (string)

### Delete all roles [DELETE]
+ Request ()
    + Headers
            Authorization: Token e6223a...fb7ad3

+ Response 204

## role [/system/roles/{id}]
+ Parameters
    + `id` (string) - The ID of the desired role.

### Retrieve role settings [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (roles)
        + `default`: false (boolean) - When true, indicates that this object cannot be deleted.
        + `references`: 1 (number) - Number of references to this role.

### Update role settings [PUT]
+ Attributes (roles)

+ Request (application/json)
    + Headers

            Authorization: Token e6223a...fb7ad3
   + Schema
            {
            "$schema": "http://json-schema.org/draft-07/schema#",
            "type": "object",
            "properties": {
                "name": {
                "type": "string",
                "maxLength": 64,
                "minLength": 4
                },
                "get": {
                "type": "boolean"
                },
                "put": {
                "type": "boolean"
                },
                "post": {
                "type": "boolean"
                },
                "delete": {
                "type": "boolean"
                },
                "uris": {
                "type": "array",
                "items": [
                    {
                    "type": "object",
                    "properties": {
                        "endpoint": {
                        "type": "string",
                        "maxLength": 128,
                        "minLength": 3
                        },
                        "verbs": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 4,
                        "items": [
                            {
                            "type": "string",
                            "enum": [
                                "GET",
                                "PUT",
                                "POST",
                                "DELETE"
                            ]
                            }
                        ]
                        }
                    },
                    "required": [
                        "endpoint",
                        "verbs"
                    ]
                    }
                ]
                }
            },
            "required": [
                "name",
                "get",
                "put",
                "post",
                "delete",
                "uris"
            ]
            }

+ Response 204

### Delete role [DELETE]
+ Request ()
    + Headers
            Authorization: Token e6223a...fb7ad3

+ Response 204

# Group System Users
Local users that are allowed to access this device configurations.

## users [/system/users]
+ Attributes (object)
    + `name`: John                    (string) - User name.
    + `login`: admin                  (string, required)
    + `role`: admin                   (string) - User role according to [user roles](#user_roles).
    + `allow_weak_password`: false    (boolean)

### Retrieve all users [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (array)
        + (users)
            + `default`: false (boolean) - When true, indicates that this object cannot be deleted.
            + `id`: admin              (string)
            + `default_password`: true (boolean) - User is currently using default password.

    + Schema
            {
                "$schema": "http://json-schema.org/draft/2020-12/schema",
                "type": "array",
                "minItems": 1,
                "maxItems": 8,
                "items": [
                {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 253
                        },
                        "login": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 254
                        },
                        "role": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 253
                        },
                        "allow_weak_password": {
                            "type": "boolean"
                        },
                        "default": {
                            "type": "boolean"
                        },
                        "id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                        },
                        "default_password": {
                            "type": "boolean"
                        }
                    },
                    "required": [
                        "login",
                        "role",
                        "allow_weak_password",
                        "id",
                        "default_password"
                    ]
                }
                ]
            }

### Create users [POST]
When you pass an array with multiple objects, the response would be no content
(code 204). For just one object, the response will return the id created (code 201).

+ Request (application/json)
    + Attributes (array)
        + (users)
            + `password`: 1234                (string, required)
    + Schema
            {
                "$schema": "http://json-schema.org/draft/2020-12/schema",
                "type": "array",
                "minItems": 1,
                "maxItems": 8,
                "items": [
                {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 253
                        },
                        "login": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 254
                        },
                        "password": {
                            "type": "string",
                            "minLength": 4,
                            "maxLength": 63
                        },
                        "role": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 253
                        },
                        "allow_weak_password": {
                            "type": "boolean"
                        },
                        "default": {
                            "type": "boolean"
                        },
                        "default_password": {
                            "type": "boolean"
                        }
                    },
                    "required": [
                        "login"
                    ]
                }
                ]
            }

    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204
+ Response 201 (application/json)
    + Attributes (object)
        + `id`: guest (string)

    + Schema
            {
                "$schema": "http://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                    "id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                    }
                }
            }

### Delete all users [DELETE]
+ Request ()
    + Headers
            Authorization: Token e6223a...fb7ad3

+ Response 204

## user [/system/users/{id}]
+ Parameters
    + `id` (string) - The ID of the desired user.

### Retrieve user settings [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (users)
        + `default`: false (boolean) - When true, indicates that this object cannot be deleted.
        + `default_password`: true (boolean) - User is currently using default password.

    + Schema
            {
                "$schema": "http://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 253
                    },
                    "login": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 254
                    },
                    "role": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 253
                    },
                    "allow_weak_password": {
                        "type": "boolean"
                    },
                    "default": {
                        "type": "boolean"
                    },
                    "default_password": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "login",
                    "role",
                    "allow_weak_password",
                    "default_password"
                ]
            }

### Update user settings [PUT]
+ Attributes (users)
    + `current_password`: user current password (string, required)
    + `new_password`: user new password (string, optional)
    + `new_password_verify`: user new password double verification (string, optional)

+ Schema
    {
        "$schema": "http://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
            "name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 253
            },
            "login": {
                "type": "string",
                "minLength": 1,
                "maxLength": 254
            },
            "role": {
                "type": "string",
                "minLength": 1,
                "maxLength": 253
            },
            "allow_weak_password": {
                "type": "boolean"
            },
            "current_password": {
                "type": "string",
                "minLength": 4,
                "maxLength": 63
            },
            "new_password": {
                "type": "string",
                "minLength": 8,
                "maxLength": 63
            },
            "new_password_verify": {
                "type": "string",
                "minLength": 8,
                "maxLength": 63
            }
        },
        "required": [
            "login",
            "current_password"
        ]
    }

+ Request (application/json)
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

### Delete user [DELETE]
+ Request ()
    + Headers
            Authorization: Token e6223a...fb7ad3

+ Response 204

# Group System Schedules
<a name="system_schedules"></a>
These are the schedules database which you can use and refer them later on any
feature that supports scheduling, such as firewall rules, wifi, LED...
- You cannot delete a schedule that is referenced by any other endpoint
(**references** > 0).

## schedules [/system/schedules]
+ Attributes (object)
    + `name`: sleep           (string, required)
    + `description`: Bed time (string)
    + `enabled`: true         (boolean, required)
    + `schedules` (array)
        + (object)
            + `days` (object)
                + `sun`: false (boolean)
                + `mon`: true  (boolean)
                + `tue`: true  (boolean)
                + `wed`: true  (boolean)
                + `thu`: true  (boolean)
                + `fri`: true  (boolean)
                + `sat`: false (boolean)
            + `intervals` (array) - Time intervals.
                + (object)
                    + `start`: 22:00 (string)
                    + `end`: 08:00   (string)
    + `periods` (array) - Date intervals.
        + (object)
            + `start`: 01/03/2019 (string)
            + `end`: 01/12/2019   (string)

### Retrieve all schedules [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (array)
        + (schedules)
            + `id`: sleep     (string)
            + `references`: 1 (number) - Number of references to this schedule.

### Create schedules [POST]
When you pass an array with multiple objects, the response would be no content
(code 204). For just one object, the response will return the id created (code 201).

+ Request (application/json)
    + Attributes (array[schedules])

    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204
+ Response 201 (application/json)
    + Attributes (object)
        + `id`: sleep (string)

### Delete all schedules [DELETE]
+ Request ()
    + Headers
            Authorization: Token e6223a...fb7ad3

+ Response 204

## schedule [/system/schedules/{id}]
+ Parameters
    + `id` (string) - The ID of the desired schedule.

### Retrieve schedule settings [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (schedules)
        + `references`: 1 (number) - Number of references to this schedule.

### Update schedule settings [PUT]
+ Attributes (schedules)

+ Request (application/json)
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

### Delete schedule [DELETE]
+ Request ()
    + Headers
            Authorization: Token e6223a...fb7ad3

+ Response 204

# Group System Leds
System status LEDs.

## brief [/system/leds/brief]

### GET
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (object)
        + `quantity`: 1 (number) - Number of LEDs available.
        + `leds`:       (array)
            + (object)
                + `id`: cfg01          (string)
                + `supported_colors`:  (array[string])
                    + Members
                        + `green`
                        + `yellow`
                       + `red`
                + `supported_actions`: (array[string])
                    + Members
                        + `on`
                        + `off`

## leds [/system/leds]
+ Attributes (object)
    + `enabled`: true (boolean, required)
    + `alias`: status (string) - Short name for the LED.
    + `color`: green  (string)
    + `action`: off   (string)
    + `schedule`      (object)
        + `enabled`: false (boolean)
        + `id`: sleep      (string) - [Schedule id](#system_schedules).

### Retrieve all leds [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (array)
        + (leds)
            + `id`: cfg01 (string)

## led [/system/leds/{id}]
+ Parameters
    + `id` (string) - The ID of the desired LED.

### Retrieve led settings [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (leds)

### Update led settings [PUT]
+ Attributes (leds)

+ Request (application/json)
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

# Group Interfaces

## brief [/interfaces/brief]

### GET
+ Request
    + Headers
            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (object)
        + `wifi` (object)
            + `phy_interfaces`: `radio0`, `radio1` (array[string])
            + `virtual_interfaces`: `wlan0`, `wlan1`(array[string])

        + `ethernets` (object)
            + `phy_interfaces`: `eth0`, `eth1` (array[string])
            + `virtual_interfaces`: `eth0.100`, `eth1.100` (array[string])

        + `pons` (object)
            + `phy_interfaces`: `nas0`, `nas1` (array[string])
            + `virtual_interfaces`: `nas0_0`, `nas0_1` (array[string])

## counters [/interfaces/counters]

### Retrieve all interfaces counters [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + `wifi` (Counters Base)
        + (object)
            + `pons` (PON Counters Base)
        + (object)
            + `ethernets` (Counters Base)

## stats [/interfaces/stats]

### Retrieve all interfaces statistics [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + `wifi` (Stats Base)
        + (object)
            + `pons` (Stats Base)
        + (object)
            + `ethernets` (Stats Base)

# Group Interfaces WiFi

## wifi settings [/interfaces/wifi]

+ Attributes (object)
    + `band_steering`:(object)
        + `ssids`: guest, owner (array[string]) - List of SSIDs currently in use.
        + `enabled`: true (boolean)
        + `mode`: 0 (enum[number])
            + Members
                + `0`- load balance
                + `1`- 5g prioritization

### Retrieve wifi settings [GET]
+ Request
    + Headers
        Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (wifi settings)
    + Schema
            {
            "$schema": "http://json-schema.org/draft-07/schema#",
            "type": "object",
            "properties": {
                "bandsteering": {
                    "title": "Bandsteering",
                    "type": "object",
                    "properties": {
                        "ssids": {
                            "title": "Ssids",
                            "type": "array",
                            "default": [],
                            "items":{
                                "title": "Items",
                                "type": "string",
                                "default": "",
                                "examples": [
                                    "ssid1"
                                ],
                                "pattern": "^.*$"
                            }
                        },
                        "enabled": {
                            "title": "Enabled",
                            "type": "boolean",
                            "examples": [
                                true
                            ],
                            "default": true
                        },
                        "mode": {
                            "title": "Mode",
                            "type": "integer",
                            "examples": [
                                1
                            ],
                            "minimum": 0,
                            "maximum": 1,
                            "default": 0
                            }
                        }
                    }

                }
            }


### Update wifi settings [PUT]
+ Attributes (wifi settings)

+ Request (application/json)
    + Headers

            Authorization: Token e6223a...fb7ad3

    + Schema
            {
            "$schema": "http://json-schema.org/draft-07/schema#",
            "type": "object",
            "properties": {
                "bandsteering": {
                    "title": "Bandsteering",
                    "type": "object",
                    "properties": {
                        "ssids": {
                            "title": "Ssids",
                            "type": "array",
                            "default": [],
                            "items":{
                                "title": "Items",
                                "type": "string",
                                "default": "",
                                "examples": [
                                    "ssid1"
                                ],
                                "pattern": "^.*$"
                            }
                        },
                        "enabled": {
                            "title": "Enabled",
                            "type": "boolean",
                            "examples": [
                                true
                            ],
                            "default": true
                        },
                        "mode": {
                            "title": "Mode",
                            "type": "integer",
                            "examples": [
                                1
                            ],
                            "minimum": 0,
                            "maximum": 1,
                            "default": 0
                            }
                        }
                    }
                }
            }
+ Response 204

## brief [/interfaces/wifi/brief]

### GET
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (object)
        + `ssids_num`: 1 (number) - Number of SSIDs configured.
        + `radios`: 2    (number) - Number of radios available.
        + `nodes`: 200   (number) - Number of associated clients.

## counters [/interfaces/wifi/counters]

### Retrieve all wifi counters [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (Counters Base)

## stats [/interfaces/wifi/stats]

### Retrieve all wifi statistics [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (Stats Base)

## son [/interfaces/wifi/son]
[Self Organized Network](#wifi_son) settings.

+ Attributes (object)
    + `mode`: 0 (enum[number])
        + Members
            + `0` - Disabled
            + `1` - Master node
            + `2` - Repeater node
    + `handover` (object)
        + `enabled`: false (boolean)
    + `load_balance` (object)
        + `mode`: 0 (enum[number])
            + Members
                + `0` - Disabled
                + `1` - Load Balance
                + `2` - 5 GHz prioritization

### Retrieve son settings [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (son)

### Update son settings [PUT]
+ Attributes (son)

+ Request (application/json)
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

## air time fairnesses [/interfaces/wifi/air_time_fairnesses]
[Air Time Fairness](#air_time_fairness) settings.

+ Attributes (object)
    + `radio`: radio0 (string) - Radio ID.
    + `ssid`: cfg01   (string) - SSID ID.
    + `percent`: 20   (number) - Air time percentage.

### Retrieve all atfs [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (array)
        + (air time fairnesses)
            + `id`: cfg02 (string)

### Create atfs [POST]
When you pass an array with multiple objects, the response would be no content
(code 204). For just one object, the response will return the id created (code 201).

+ Request (application/json)
    + Attributes (array[air time fairnesses])
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204
+ Response 201 (application/json)
    + Attributes (object)
        + `id`: cfg02 (string)

### Delete all atfs [DELETE]
+ Request ()
    + Headers
            Authorization: Token e6223a...fb7ad3

+ Response 204

## atf [/interfaces/wifi/air_time_fairnesses/{id}]
+ Parameters
    + `id` (string) - The ID of the desired atf.

### Retrieve atf settings [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (air time fairnesses)

### Update atf settings [PUT]
+ Attributes (air time fairnesses)

+ Request (application/json)
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

### Delete atf [DELETE]
+ Request ()
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

# Group Interfaces WiFi SSIDs

## brief [/interfaces/wifi/ssids/brief]

### GET
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (object)
        + `ssids`: Guest    (array[string]) - List of SSIDs currently in use.
        + `nodes`: 200      (number) - Number of associated clients.
        + `acl_entries`: 30 (number) - Number of ACL entries.

## ssids nodes [/interfaces/wifi/ssids/nodes]

### Retrieve clients from all SSIDs [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (array)
        + (WiFi Nodes Base)
            + `ssid`: Guest (string, required)

    + Schema
            {
            "$schema": "http://json-schema.org/draft/2020-12/schema",
            "type": "array",
            "minItems": 0,
            "maxItems": 200,
            "items": [
                {
                "type": "object",
                "properties": {
                    "mac": {
                    "type": "string",
                    "minLength": 17,
                    "maxLength": 17
                    },
                    "signal": {
                    "type": "integer",
                    "minimum": -100,
                    "maximum": -1
                    },
                    "uptime": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                    },
                    "idle": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                    },
                    "tx_rate": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                    },
                    "rx_rate": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                    },
                    "phy_mode": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31
                    },
                    "hostname": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 253
                    },
                    "description": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 64
                    },
                    "rx_packets": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                    },
                    "rx_bytes": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                    },
                    "tx_packets": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                    },
                    "tx_bytes": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                    },
                    "ip_addresses": {
                    "type": "array",
                    "minItems": 0,
                    "maxItems": 5,
                    "items": [
                        {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 15
                        }
                    ]
                    },
                    "ip_mode": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 2
                    },
                    "ssid": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 32
                    }
                },
                "required": [
                    "mac",
                    "signal",
                    "tx_rate",
                    "rx_rate",
                    "ssid"
                ]
                }
            ]
            }

## ssids [/interfaces/wifi/ssids]
+ Attributes (object)
    + `enabled`: true (boolean)
    + `radios`: radio0 (array[string], required) - List of radio IDs that will use this SSID.
    + `ssid`: Guest (string, required)
    + `broadcast`: true (boolean) - Enable SSID broadcast. When false, users will have to connect to it manually.
    + `atf_percent`: 10 (number) - [Air Time Fairness](#air_time_fairness) percentage.
    + `802.11kv`: false (boolean) - Enables 802.11kv protocol.
    + `802.11r`: false (boolean) - Enables 802.11r protocol.
    + `security` (SSID Security Base, required)
    + `schedule` (object)
        + `enabled`: false (boolean)
        + `id`: sleep      (string) - [Schedule id](#system_schedules).

### Retrieve all SSIDs [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (array)
        + (ssids)
            + `interfaces`: wlan0 (array[string]) - Interface which is being used by this SSID.
            + `default`: false (boolean) - When true, indicates that this object cannot be deleted.
            + `id`: cfg01 (string)
            + `security` (SSID Security Base)
                + `supported_auth_type`: (array[number]) - List of supported auth_types
                    + 0
                    + 3
                    + 5
                + `supported_encryption`: (array[number]) - List of supported encryptions
                    + 0
                    + 1

    + Schema

            {
                "$schema": "http://json-schema.org/draft/2020-12/schema",
                "type": "array",
                "items": [{
                    "type": "object",
                    "properties": {
                        "enabled": {
                            "type": "boolean"
                        },
                        "radios": {
                            "type": "array",
                            "minItems": 1,
                            "maxItems": 5,
                            "items": [{
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 32
                            }]
                        },
                        "interfaces": {
                            "type": "array",
                            "minItems": 1,
                            "items": [{
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 128
                            }]
                        },
                        "ssid": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 32
                        },
                        "broadcast": {
                            "type": "boolean"
                        },
                        "atf_percent": {
                            "type": "integer",
                            "min": 0,
                            "max": 100
                        },
                        "802.11kv": {
                            "type": "boolean"
                        },
                        "802.11r": {
                            "type": "boolean"
                        },
                        "security": {
                            "type": "object",
                            "properties": {
                                "auth_type": {
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9
                                },
                                "encryption": {
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 5
                                },
                                "psk": {
                                    "type": "string",
                                    "minLength": 8,
                                    "maxLength": 63
                                },
                                "wep": {
                                    "type": "object",
                                    "properties": {
                                        "key_format": {
                                            "type": "integer",
                                            "minimum": 0,
                                            "maximum": 1
                                        },
                                        "default_key": {
                                            "type": "integer",
                                            "minimum": 0,
                                            "maximum": 1
                                        },
                                        "keys": {
                                            "type": "array",
                                            "minItems": 1,
                                            "maxItems": 5,
                                            "items": [{
                                                "type": "string",
                                                "minLength": 5,
                                                "maxLength": 26
                                            }]
                                        }
                                    },
                                    "required": [
                                        "key_format",
                                        "keys"
                                    ]
                                },
                                "supported_auth_type": {
                                    "type": "array",
                                    "minItems": 1,
                                    "maxItems": 10,
                                    "items": [{
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 9
                                    }]
                                },
                                "supported_encryption": {
                                    "type": "array",
                                    "minItems": 1,
                                    "maxItems": 6,
                                    "items": [{
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 5
                                    }]
                                }
                            },
                            "required": [
                                "auth_type",
                                "encryption",
                                "supported_auth_type",
                                "supported_encryption"
                            ]
                        },
                        "schedule": {
                            "type": "object",
                            "properties": {
                                "enabled": {
                                    "type": "boolean"
                                },
                                "id": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 51
                                }
                            },
                            "required": [
                                "enabled"
                            ]
                        },
                        "default": {
                            "type": "boolean"
                        },
                        "id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                        }
                    },
                    "required": [
                        "enabled",
                        "radios",
                        "ssid",
                        "broadcast",
                        "security",
                        "id"
                    ]
                }]
            }


### Create SSIDs [POST]
When you pass an array with multiple objects, the response would be no content
(code 204). For just one object, the response will return the id created (code 201).

+ Request (application/json)
    + Attributes (array[ssids])

    + Headers

            Authorization: Token e6223a...fb7ad3

    + Schema

            {
                "$schema": "http://json-schema.org/draft/2020-12/schema",
                "type": "array",
                "items": [{
                    "type": "object",
                    "properties": {
                        "enabled": {
                            "type": "boolean"
                        },
                        "radios": {
                            "type": "array",
                            "minItems": 1,
                            "maxItems": 5,
                            "items": [{
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 32
                            }]
                        },
                        "ssid": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 32
                        },
                        "broadcast": {
                            "type": "boolean"
                        },
                        "atf_percent": {
                            "type": "integer",
                            "min": 0,
                            "max": 100
                        },
                        "802.11kv": {
                            "type": "boolean"
                        },
                        "802.11r": {
                            "type": "boolean"
                        },
                        "security": {
                            "type": "object",
                            "properties": {
                                "auth_type": {
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9
                                },
                                "encryption": {
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 5
                                },
                                "psk": {
                                    "type": "string",
                                    "minLength": 8,
                                    "maxLength": 63
                                },
                                "wep": {
                                    "type": "object",
                                    "properties": {
                                        "key_format": {
                                            "type": "integer",
                                            "minimum": 0,
                                            "maximum": 1
                                        },
                                        "default_key": {
                                            "type": "integer",
                                            "minimum": 0,
                                            "maximum": 1
                                        },
                                        "keys": {
                                            "type": "array",
                                            "minItems": 1,
                                            "maxItems": 5,
                                            "items": [{
                                                "type": "string",
                                                "minLength": 5,
                                                "maxLength": 26
                                            }]
                                        }
                                    },
                                    "required": [
                                        "key_format",
                                        "keys"
                                    ]
                                }
                            },
                            "required": [
                                "auth_type",
                                "encryption"
                            ]
                        },
                        "schedule": {
                            "type": "object",
                            "properties": {
                                "enabled": {
                                    "type": "boolean"
                                },
                                "id": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 51
                                }
                            },
                            "required": [
                                "enabled"
                            ]
                        }
                    },
                    "required": [
                        "radios",
                        "ssid"
                    ]
                }]
            }

+ Response 204
+ Response 201 (application/json)
    + Attributes (object)
        + `id`: cfg01 (string)

    + Schema
            {
                "$schema": "http://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 51
                    }
                }
            }

### Delete all SSIDs [DELETE]
+ Request ()
    + Headers
            Authorization: Token e6223a...fb7ad3

+ Response 204

## ssids acls [/interfaces/wifi/ssids/acls]
Global Access Control Lists. Operating on these endpoints will affect individual
SSID ACL.

+ Attributes (array)
    + (object)
        + `ssid`: Guest (string) - SSID name.
        + `acl` (WiFi ACL Base)
            + `entries`: (array[WiFi ACL Entry])

### Retrieve all ACLs [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + `id`: Guest (string)
            + `ssid`: Guest (string) - SSID name.
            + `acl` (WiFi ACL Base)
                + `entries`: (array)
                    + (WiFi ACL Entry)
                        + `id`: 00:1A:3F:00:6E:CF (string)

### Create ACL to all SSIDs [POST]
+ Request (application/json)
    + Attributes (WiFi ACL Base)
        + `entries`: (array[WiFi ACL Entry])
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

### Delete all ACLs [DELETE]
+ Request ()
    + Headers
            Authorization: Token e6223a...fb7ad3

+ Response 204

## ssids acls entries [/interfaces/wifi/ssids/acls/entries]
+ Attributes (array[WiFi ACL Entry])

### Insert to all ACLs [POST]
+ Request (application/json)
    + Attributes (ssids acls entries)
    + Headers
            Authorization: Token e6223a...fb7ad3

+ Response 204

### Delete all ACLs from all SSIDs [DELETE]
+ Request (application/json)
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 204

## ssids vlan [/interfaces/wifi/ssids/vlans]
+ Attributes (object)
    + `ssids`: ssid1, ssid2 (array[string], required) - List of SSID IDs that will use this VLAN ID.
    + `enabled`: true (boolean)
    + `vlan_id`: 100 (number, required)

### Retrieve all SSIDs VLANs [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (array)
        + (ssids vlan)
            + `id`: 100 (number, required)

    + Schema

        {
            "$schema": "http://json-schema.org/draft/2020-12/schema",
            "type": "array",
            "items": [{
                "type": "object",
                "properties": {
                    "ssids": {
                        "type": "array",
                        "minItems": 1,
                        "items": [{
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 32
                        }]
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "vlan_id": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 4094
                    },
                    "id": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 4094
                    },
                },
                "required": [
                    "ssids",
                    "enabled",
                    "vlan_id"
                ]
            }]
        }

### Create SSIDs VLANs [POST]
When you pass an array with multiple objects, the response would be no content
(code 204). For just one object, the response will return the id created (code 201).

+ Request (application/json)
    + Attributes (array[ssids vlan])

    + Headers

            Authorization: Token e6223a...fb7ad3

    + Schema

        {
            "$schema": "http://json-schema.org/draft/2020-12/schema",
            "type": "array",
            "items": [{
                "type": "object",
                "properties": {
                    "ssids": {
                        "type": "array",
                        "minItems": 1,
                        "items": [{
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 32
                        }]
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "vlan_id": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 4094
                    },
                },
                "required": [
                    "ssids",
                    "vlan_id"
                ]
            }]
        }

+ Response 204
+ Response 201 (application/json)
    + Attributes (object)
        + `id`: 100 (number)

    + Schema
            {
                "$schema": "http://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 4094
                    }
                }
            }

### Delete all SSIDs VLANs [DELETE]
+ Request ()
    + Headers
            Authorization: Token e6223a...fb7ad3

+ Response 204

## ssid [/interfaces/wifi/ssids/{id}]
+ Parameters
    + `id` (string) - The ID of the desired SSID.

### Retrieve SSID settings [GET]
+ Request
    + Headers

            Authorization: Token e6223a...fb7ad3

+ Response 200 (application/json)
    + Attributes (ssids)
        + `interfaces`: wlan0 (array[string]) - Interface which is being used by this SSID.
        + `default`: false (boolean) - When true, indicates that this object cannot be deleted.
        + `security` (SSID Security Base)
            + `supported_auth_type`: (array[number]) - List of supported auth_types
                + 0
                + 3
                + 5
            + `supported_encryption`: (array[number]) - List of supported encryptions
                + 0
                + 1

    + Schema

            {
                "$schema": "http://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                    "enabled": {
                        "type": "boolean"
                    },
                    "radios": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 5,
                        "items": [{
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 32
                        }]
                    },
                    "interfaces": {
                        "type": "array",
                        "minItems": 1,
                        "items": [{
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                        }]
                    },
                    "ssid": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 32
                    },
                    "broadcast": {
                        "type": "boolean"
                    },
                    "atf_percent": {
                        "type": "integer",
                        "min": 0,
                        "max": 100
                    },
                    "802.11kv": {
                        "type": "boolean"
                    },
                    "802.11r": {
                        "type": "boolean"
                    },
                    "security": {
                        "type": "object",
                        "properties": {
                            "auth_type": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9
                            },
                            "encryption": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 5
                            },
                            "psk": {
                                "type": "string",
                                "minLength": 8,
                                "maxLength": 63
                            },
                            "wep": {
                                "type": "object",
                                "properties": {
                                    "key_format": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 1
                                    },
                                    "default_key": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 1
                                    },
                                    "keys": {
                                        "type": "array",
                                        "minItems": 1,
                                        "maxItems": 5,
                                        "items": [{
                                            "type": "string",
                                            "minLength": 5,
                                            "maxLength": 26
                                        }]
                                    }
                                },
                                "required": [
                                    "key_format",
                                    "keys"
                                ]
                            },
                            "supported_auth_type": {
                                "type": "array",
                                "minItems": 1,
                                "maxItems": 10,
                                "items": [{
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9
                                }]
                            },
                            "supported_encryption": {
                                "type": "array",
                                "minItems": 1,
                                "maxItems": 6,
                                "items": [{
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 5
                                }]
                            }
                        },
                        "required": [
                            "auth_type",
                            "encryption",
                            "supported_auth_type",
                            "supported_encryption"
                        ]
                    },
                    "schedule": {
                        "type": "object",
                        "properties": {
                            "enabled": {
                                "type": "boolean"
                            },
                            "id": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 51
                            }
                        },
                        "required": [
                            "enabled"
                        ]
                    },
                    "default": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "enabled",
                    "radios",
                    "ssid",
                    "broadcast",
                    "security",
                ]
            }

### Update SSID settings [PUT]
+ Attributes (ssids)

+ Request (application/json)
    + Headers

            Authorization: Token e6223a...fb7ad3

    + Schema

            {
                "$schema": "http://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                    "enabled": {
                        "type": "boolean"
                    },
                    "radios": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 5,
                        "items": [{
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 32
                        }]
                    },
                    "ssid": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 32
                    },
                    "broadcast": {
                        "type": "boolean"
                    },
                    "atf_percent": {
                        "type": "integer",
                        "min": 0,
                        "max": 100
                    },
                    "802.11kv": {
                        "type": "boolean"
                    },
                    "802.11r": {
                        "type": "boolean"
                    },
                    "security": {
                        "type": "object",
                        "properties": {
                            "auth_type": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9
                            },
                            "encryption": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 5
                            },
                            "psk": {
                                "type": "string",
                                "minLength": 8,
                                "maxLength": 63
                            },
                            "wep": {
                                "type": "object",
                                "properties": {
                                    "key_format": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 1
                                    },
                                    "default_key": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 1
                                    },
                                    "keys": {
                                        "type": "array",
                                        "minItems": 1,
                                        "maxItems": 5,
                                        "items": [{
                                            "type": "string",
                                            "minLength": 5,
[...]
